/*removing browser dafaults styling*/
/* the * acts as a select all*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
     
}
/* applying stylke to header*/ 
/* padding applies space around the content of the element*/
header {
    padding: 30px 35px;
    background-color: #39a6b2;
}
/*styling the content of the header*/
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}
/* styling 'a' element*/
header a {
    text-decoration: none;
    color: #fce138;
}
/*styling the nav elemnt*/
/*float allows othen elemnts to be along side a block element*/
/*A block element is trying to fit the parent's width by default*/ 
header nav {
    float: right;
    margin: 7px 0;
}

/*styling nav content*/ 
header nav ul li{ 
display: inline;
margin: 0 30px;
font-weight: lighter;
font-size: 25px;
}
/*footer styling*/
footer {
    background: #fce138 ;
    width: 100%;
    padding: 40px 35px;
}
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}
footer a {
    color: #024e76;
}
section{ 
    padding: 60px;
    }
    /*styling hero*/
    .hero {
        background-image: url(https://static.fullstack-bootcamp.com/module-1/hero-bg.jpg);
        height: 600px;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .hero-form{
        background-color: #fce138;
        padding: 20px;
        width: 500px;
        color: #024e76;
        border-style: solid;
        border-width: 3px;
        border-color: #024e76;
        /*the last 3 lines can be entered in one line under border: solid 3px #024e76*/
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .hero-form h3{
        font-size: 24px;
        margin: 0;
    }
    .hero-form p{
        margin: 5px 0 15px 0;
    }
    .form-input{
        border: 1px solid #024e76;
        display: block;
        padding: 7px 15px;
        font-size: 16px;
        color: #024e76;
        width: 100%;
        margin-bottom: 15px;
    }
    .hero-form label {
        margin: 0 5px;
    }
    .hero-form button{
        color: #fce138;
        background-color: #024e76;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
    }
    /*hero styling ends*/
    
    /*styling "what we do" section */
    .intro {
        text-align: center;
    }
    
    .intro p{
        line-height: 1.7;
        color: #39a6b2;
        width: 80%;
        font-size: 20px;
        /**will auto center a block element (horizontally) that has a width
        less than 100%**/
        margin: 0 auto;
    }
.section-title{
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
}
.primary-border{
    border-color: #fce138;
}
.secondary-border{
    border-color: #39a6b2;
}
.steps{
    text-align: center;
    background-color: #fce138;
}
.steps div{ 
    margin-bottom: 80px;
}
.steps img{
    width: 15%;
    margin: 10px 0;
}
.steps h3{
    color: #024e76;
    font-size: 46px;
    margin-top: 10px;
}
.steps p{
    color: #39a6b2;
    font-size: 23px;
}
.steps span{
    font-size: 38px;
}
